body {
  margin: 0;
  padding: 0;
}

.header {
  height: 750px;
  overflow: hidden;
  position: relative;
}
.header img {
  width: auto;
  height: 750px;
}
.header__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 250px;
  width: 175px;
  left: calc(50% - 87.5px);
}
.header__motto {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 290px;
  width: 829px;
  margin-inline: auto;
  left: calc(50% - 414.5px);
}
.header__button {
  position: absolute;
  top: 450px;
  left: calc(50% - 100px);
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  top: 40px;
  gap: 40px;
  height: 45px;
  left: 50%;
}
.header__list--item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header .line {
  height: 2px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  top: 85px;
  opacity: 0.3;
}
.header .active {
  height: 2px;
  width: 85px;
  background-color: #ffffff;
  position: absolute;
  top: 85px;
  left: 49%;
}

.button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.description__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  width: 700px;
  margin-top: 80px;
  margin-inline: auto;
}
.description__content {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  width: 700px;
  margin-top: 40px;
  margin-inline: auto;
}
.description__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}
.description__list-item {
  position: relative;
  width: 230px;
}
.description__list-item .item_icon {
  position: absolute;
  top: -15px;
  left: -75px;
}
.description__list-item .item_title {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 15px;
}
.description__list-item .item_content {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.description__button {
  margin-top: 40px;
  margin-inline: auto;
}

.standarts__container {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
}
.standarts__content {
  font-family: "Montserrat";
  font-style: normal;
  width: 400px;
}
.standarts__content-title {
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 20px;
}
.standarts__content-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.standarts__image img {
  width: 500px;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
