body {
  margin: 0;
  padding: 0;
}

.header {
  height: 750px;
  overflow: hidden;
  position: relative;
}
.header img {
  width: auto;
  height: 750px;
}
.header__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 250px;
  width: 175px;
  left: calc(50% - 87.5px);
}
.header__motto {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 290px;
  width: 829px;
  margin-inline: auto;
  left: calc(50% - 414.5px);
}
.header__button {
  position: absolute;
  top: 450px;
  left: calc(50% - 100px);
}
.header__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  position: absolute;
  top: 40px;
  gap: 40px;
  height: 45px;
  left: 50%;
}
.header__list--item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.header .line {
  height: 2px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  top: 85px;
  opacity: 0.3;
}
.header .active {
  height: 2px;
  width: 85px;
  background-color: #ffffff;
  position: absolute;
  top: 85px;
  left: 49%;
}

.button {
  width: 200px;
  height: 45px;
  background: #4985FF;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.description__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
  width: 700px;
  margin-top: 80px;
  margin-inline: auto;
}
.description__content {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  width: 700px;
  margin-top: 40px;
  margin-inline: auto;
}
.description__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}
.description__list-item {
  position: relative;
  width: 230px;
}
.description__list-item .item_icon {
  position: absolute;
  top: -15px;
  left: -75px;
}
.description__list-item .item_title {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 15px;
}
.description__list-item .item_content {
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}
.description__button {
  margin-top: 40px;
  margin-inline: auto;
  margin-bottom: 40px;
}

.standarts {
  background-color: #F6F6F8;
}
.standarts__container {
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-inline: auto;
}
.standarts__content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: 400px;
}
.standarts__content-title {
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 20px;
}
.standarts__content-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}
.standarts__image img {
  width: 500px;
  height: auto;
}
.standarts__list {
  margin-top: 50px;
  width: 70%;
  margin-inline: auto;
  margin-bottom: 40px;
}
.standarts__list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.standarts__list ul .item {
  position: relative;
}
.standarts__list ul .item__icon {
  position: relative;
  top: 10px;
}
.standarts__list ul .item__number {
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  position: absolute;
  top: 0px;
  left: 35px;
}
.standarts__list ul .item__content {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  position: relative;
  top: 10px;
}
.standarts::after {
  content: "";
  display: table;
  clear: both;
}

.works {
  background: linear-gradient(#504DC2 0%, #5F12D0 60%, #ffffff 60%, #ffffff 100%);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  padding-top: 70px;
}
.works .container {
  width: 70%;
  margin-inline: auto;
}
.works .container__top {
  position: relative;
}
.works .container__top::after {
  content: "";
  clear: both;
  display: table;
}
.works__title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  width: 540px;
}
.works__button {
  position: absolute;
  top: 25px;
  right: 0;
}
.works__list {
  padding-top: 200px;
  margin-bottom: 140px;
}
.works__list .list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.works__list .list__item {
  width: 350px;
}
.works__list .list__item-img img {
  width: 300px;
  border-radius: 15px;
  height: auto;
  margin-bottom: 10px;
}
.works__list .list__item-title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}
.works__list .list__item-title .number {
  color: #4985FF;
}
.works__list .list__item-content {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 10px;
}
.works__list .list__item-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.projects {
  background-color: #F6F6F8;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  padding-top: 50px;
  padding-bottom: 150px;
}
.projects__title {
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  font-weight: bold;
  color: #000000;
}
.projects__content {
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-top: 50px;
  margin-bottom: 70px;
}
.projects__list {
  width: 70%;
  margin-inline: auto;
}
.projects__list .list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects__list .list__item img {
  width: 255px;
  height: 255px;
}
.projects__button {
  margin-inline: auto;
  margin-top: 50px;
}

.video {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
.video__container {
  height: 700px;
  position: relative;
}
.video__container::after {
  content: "";
  clear: both;
  display: table;
}
.video__background {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: 0;
}
.video__title {
  position: absolute;
  top: 50px;
  left: calc(50% - 190px);
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #FFFFFF;
  z-index: 10;
}
.video__content {
  position: absolute;
  top: 120px;
  left: calc(50% - 140px);
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  z-index: 10;
}
.video__frame {
  position: absolute;
  top: 250px;
  left: calc(50% - 360px);
  z-index: 10;
}
.video__frame img {
  width: 720px;
}
.video__frame .frame__button {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  width: 300px;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */
