$white_color: #ffffff;
$main_color:  #F6F6F8;
$accent_color: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
$button_color: #4985FF;

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 750px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }   
}
