$white_color: #ffffff;
$main_color:  #F6F6F8;
$accent_color: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
$button_color: #4985FF;
$main_font: "Montserrat", sans-serif;

body {
    margin: 0;
    padding: 0;
}

.header {
    height: 750px;
    overflow: hidden;
    position: relative;
    img {
        width: auto;
        height: 750px;
    }
    &__title {
        font-family: $main_font;
        font-style: normal;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: $white_color;
        position: absolute;
        top: 250px;
        width: 175px;
        left: calc(50% - 175px / 2);
    }
    &__motto {
        font-family: $main_font;
        font-style: normal;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: $white_color;
        position: absolute;
        top: 290px;
        width: 829px;
        margin-inline: auto;
        left: calc(50% - 829px / 2);
    }   
    &__button {
        position: absolute;
        top: 450px;
        left: calc(50% - 200px / 2);
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        position: absolute;
        top: 40px;
        gap: 40px;
        height: 45px;
        left: 50%;
        &--item {
            font-family: $main_font;
            font-style: normal;
            font-size: 16px;
            line-height: 20px;
            color: $white_color;            
        }
    }
    .line {
        height: 2px;
        width: 100%;
        background-color: rgba(250, 250, 250);
        position: absolute;
        top: 85px;
        opacity: 0.3;
    }
    .active {
        height: 2px;
        width: 85px;
        background-color: $white_color;
        position: absolute;
        top: 85px;
        left: 49%;
    }
}

.button {
    width: 200px;
    height: 45px;
    background: $button_color;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-family: $main_font;
    font-style: normal;
    font-size: 16px;
    line-height: 45px;
    text-align: center;   
    color: $white_color; 
}

.description {
    font-family: $main_font;
    font-style: normal;
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 53px;
        text-align: center;
        color: #323232;
        width: 700px;
        margin-top: 80px;
        margin-inline: auto;                
    }
    &__content {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #999999;
        width: 700px;
        margin-top: 40px;
        margin-inline: auto;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 100px;
        &-item {
            position: relative;
            width: 230px;
            .item_icon {
                position: absolute;
                top: -15px;
                left: -75px;
            }
            .item_title {
                font-size: 18px;
                line-height: 22px;
                color: #000000;
                margin-bottom: 15px;
            }
            .item_content {
                font-size: 14px;
                line-height: 22px;
                color: #999999;
            }
        }
    }
    &__button {
        margin-top: 40px;
        margin-inline: auto;
    }
}

.standarts {
    &__container {
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-inline: auto;
    }
    &__content {
        font-family: 'Montserrat';
        font-style: normal;        
        width: 400px;
        &-title {
            font-size: 36px;
            line-height: 53px;
            color: #323232;
            margin-bottom: 20px;            
        }
        &-text {
            margin-bottom: 20px;
            font-size: 16px;
            line-height: 25px;
            color: #999999;
        }
    }
    &__image {
        & img {
            width: 500px;
            height: auto;  
        }
    }
}















